dist/*
!dist/esm
dist/esm/*
!dist/esm/package.json

.DS_Store

.idea/
# Webstorm
*.iml
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

# npm
node_modules/

# Testing files
*.feature
temp

# Environment information
examples/.env

test-harness/
tests/cucumber/features/
tests/cucumber/browser/build
tests/browser/bundle.*

# Builds
docs/
built/

# Caches
.eslintcache
