language: node_js
node_js:
  - "12"

install:
  - curl https://raw.githubusercontent.com/algorand/algorand-sdk-testing/master/scripts/sdkupdate.sh -o ~/sdkupdate.sh
  - chmod +x ~/sdkupdate.sh

script:
  - npm install -g mocha
  - npm test
  - ~/sdkupdate.sh --js
